.nav {
    background-color: white;
    padding: 20px;
    position: fixed;
    width: 100%;
}

.nav form {
    text-align: center;
}

.nav form input {
    border-style: solid;
    padding: 10px;
    border-radius: 4px;
}

#searchBox {
    width: 460px;
}

body {
    background-color: #BDBDBD;
}

/***********************/
/*    Photo Gallery    */
/***********************/

.container {
    width: 980px;
    margin: 0 auto;
}

.container img {
    width: 200px;
    margin: 0;
    padding: 0;
}
.col {
    display: inline-block;
    float: left;
}

.col:not(:last-child) {
    margin-right: 60px;
}
.galleryContainerRow {
    padding-top: 112px;
}

.white-popup {
    position: relative;
    background: #FFF;
    padding: 25px;
    width:auto;
    max-width: 400px;
    margin: 0 auto;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/*=======================

       Media Queries

========================*/

@media screen and (min-width: 760px) {

}

@media screen and (min-width: 1025px) {

}