/* Base Styles */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.nav {
    background-color: white;
    padding: 20px;
    position: fixed;
    width: 100%;
    z-index: 2000;
}

.nav form {
    text-align: center;
}

.nav form input {
    border-style: solid;
    padding: 10px;
    border-radius: 4px;
}

#searchBox {
    width: 100%;
    max-width: 460px;
}

body {
    background-color: #BDBDBD;
}

.container {
    max-width: 980px;
    margin: 0 auto;
}

/*====== Zoom effect ======*/


.mfp-zoom-in .mfp-with-anim {
    opacity: 0;
    transition: all 0.2s ease-in-out;
    transform: scale(0.8);
}
.mfp-zoom-in.mfp-bg {
    opacity: 0;
    transition: all 0.3s ease-out;
}
.mfp-zoom-in.mfp-ready .mfp-with-anim {
    opacity: 1;
    transform: scale(1);
}
.mfp-zoom-in.mfp-ready.mfp-bg {
    opacity: 0.8;
}
.mfp-zoom-in.mfp-removing .mfp-with-anim {
    transform: scale(0.8);
    opacity: 0;
}
.mfp-zoom-in.mfp-removing.mfp-bg {
    opacity: 0;
}


/***********************/
/*    Photo Gallery    */
/***********************/

.col {
    max-width: 180px;
    margin: 0 auto 60px;
}

.col a {
    margin: 0 auto;
    width: 100%;
}
.col a img {
    max-width: 100%;
    padding: 0;
}
.galleryContainerRow {
    max-width: 70%;
    margin: 0 auto;
    padding-top: 112px;
}

.white-popup {
    position: relative;
    background: #FFF;
    padding: 25px;
    width:auto;
    max-width: 400px;
    margin: 0 auto;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/*=======================

       Media Queries

========================*/

@media screen and (min-width: 520px) {
    #searchBox {
        width: 80%;
        margin: 0 auto;
    }
    .col {
        display: inline-block;
        width: 50%;
    }

}